@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
#maeva-banner{
    margin: 0 auto;
    padding: 0;
    border: 3px solid #CE1126;
    border-bottom-style: hidden;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    margin-top: 40px;
    text-align: center;
}
#maeva-image{
    width: 1240px;
    height:870px;
    padding: 1px 1px 0px 1px;
}
#maeva-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#maeva-message{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 90px;
    text-align: center;
}
#maeva-message p{
    font-size: 34px;
    color: #2282DD;
    text-shadow: 0px 0px white;
    background: rgba(0, 0, 0, 0.9);
}
.maeva-title{
    font-size: 80px;
    color: #2282DD;
    text-shadow: 2px 2px black;
}
.map{
    background-color: white;
    color: black;
    padding: 2px 0px 2px 0px;
    font-size: 24px;
}
.button-box a:visited{
    color: #CE1126;
}
.button-box a:hover{
    background-color: white;
    color: #CE1126;
    font-size: 36px;
}
.logo{
width:70px;
padding-right:0px;
padding-top: 5px;
justify-self: center;
align-self: center;
}
.first-menu{
    display: inline;
    text-align: center;
    margin: 200px;
    font-size: 20px;
}
.first-menu a:visited{
    color:black;
    background-color: white;
}
.first-menu a:link{
    color:black;
    background-color: white;
}
.first-menu a:hover{
    font-size: 30px;
}
nav {
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    background-color: #2282DD;
}
nav a{
    text-align: center;
    text-decoration: none;
}
nav a:hover {
    background-color:white;
}
.home-grid{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
.five{
    grid-column: 1/3;
    grid-row: 1/2;
    text-align: center;
    justify-items: center;
    padding: 20px 5px 0px 40px;
}
.vacaydeals{
    grid-column: 4/6;
    grid-row: 1/2;
    text-align: center;
    padding: 400px 40px 150px 40px;
}
.travelinfo{
   grid-column: 1/3;
   grid-row: 4/5;
   text-align: center;
   padding: 0px 0px 0px 40px;
}
.activities{
   grid-column: 4/6;
   grid-row: 5/6;
   text-align: center;
}
.vacationsimg{
    grid-column: 1/3;
    grid-row: 2/3;
    padding: 7% 0px 0px 0px;
}
footer{
background-color: #2282DD;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
}
footer p{
    color: black;
}
main{
    padding: 180px 0px 0px 0px;
}
#languageculture{
    text-align: center;
    margin: 0em 7em 7em 7em;
}
#languageculture h1{
    margin:0px 0px 25px 0px;
    font-size:42px;
    color:#2282DD;
}
#languageculture h2{
    color: #2282DD;
}
#faq{
    text-align:center;
    margin: 0em 7em 7em 7em;
}
#faq h1{
    margin: 0px 0px 25px 0px;
    font-size:42px;
    color:#2282DD;
}
#faq h2{
    color:#CE1126;
}
.tahititopview{
    margin: 0em 0em 1em 22em;
}
.faqhuts{
    margin: 0em 0em 1em 22em;
}
.faqtitle{
    color:#2282DD;
    margin: 0px 0px 25px 0px;
    font-size:45px;
    text-align:center;
}
.faqtitlep{
    text-align: center;
}